<p>Bem Vindo a {{ name() }}, estamos na home e aqui é <app-footer></app-footer></p>
<img [src]="" alt="passe uma variavel no src para aparecer a imagem"> <!-- aceitando variavel dentro do atributo src -->

<br><br>

<!-- INTERPORLAÇÃO -> {{ VARAIVEL_QUALQUER_UMA }} É PARA PASSAR VÁRIAVEL-->
<!-- PROPERTY BINDING [ atributo ] É PARA PASSAR VARIAVEL DENTRO DE UM ATRIBUTO-->
<!-- EVENT BINDING (  EVENTO ) É PARA FUNÇÃO DENTRO DE UM EVENTO -->

<button (click)="somaButton()">Clique aqui</button>

<!-- diretiva do if sem precisar de importação e contém o else -->
<!-- Adicionei () na variavel num pois ele é um signal-->
@if(value){
    <h2>Valor é true</h2>
} @else if(num() == 2){
    <h2>O numero é 2</h2>
} @else{
    <h2>tem nada aqui</h2>
}

<!-- Para usar o *ngif é necessário fazer o import do CommumModule no standalone ou no app.module-->
<h2 *ngIf="value">verdadeiro</h2>


<hr>

<H1>Lista de Amigos</H1>
@for (i of lista; track i){
    <p> {{ i }}</p>
} @empty {
    <p>Vázio</p>
}

<!-- Como era o @for n antes da versao 17 do angular-->
<h1>Lista Angula abaixo do 17</h1>
<ul *ngFor="let i of lista">
    <li>{{ i }}</li>
</ul>
<ul *ngIf="lista.length == 0">
    <li>Vázio</li>
</ul>

<br><br>
<hr>

<h1>Consumindo API dos gatos</h1>
@if (data){
    <p>{{ data }}</p>
}@else{
    <h2>Não tem nada</h2>
}

