<p>Bem Vindo a {{ name() }}, estamos na home e aqui é <app-footer></app-footer></p>
<img [src]="" alt="passe uma variavel no src para aparecer a imagem"> <!-- aceitando variavel dentro do atributo src -->

<br><br>

<!-- INTERPORLAÇÃO -> {{ VARAIVEL_QUALQUER_UMA }} É PARA PASSAR VÁRIAVEL-->
<!-- PROPERTY BINDING [ atributo ] É PARA PASSAR VARIAVEL DENTRO DE UM ATRIBUTO-->
<!-- EVENT BINDING (  EVENTO ) É PARA FUNÇÃO DENTRO DE UM EVENTO -->

<button (click)="somaButton()">Clique aqui</button>

<!-- diretiva do if sem precisar de importação e contém o else -->
@if(value){
    <h2>OI</h2>
}

<!-- Para usar o *ngif é necessário fazer o import do CommumModule no standalone ou no app.module-->
<h2 *ngIf="value">verdadeiro</h2>

